@page "/"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Blazor Controls Demo</h1>


Willkommen zur interaktiven Demo-Seite für unsere Blazor UI-Komponenten!
Hier kannst du verschiedene Steuerelemente live testen – von einfachen Buttons bis zu komplexen Formularen und Layouts.

Alle Beispiele sind Open Source – du findest den vollständigen Quellcode auf GitHub-Repository.

Mehr Informationen auf <a href="https://piwonka.cc">piwonka.cc</a>.

<br />
Welcome to the interactive demo page for our Blazor UI components! Here you can test various controls live – from simple buttons to complex forms and layouts. All examples are open source – you can find the complete source code on GitHub repository. More information at <a href="https://piwonka.cc">piwonka.cc</a>.

