<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Piwi's Blazor Demos</a>
    </div>
</div>

<nav class="nav flex-row">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="GlobeSelectDemo">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> GlobeSelector
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="weather">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="https:\\piwonka.cc">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About / More Info
        </NavLink>
        
    </div>

</nav>

